<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Error</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/app.css" />
</head>
<body>
  <header class="mb-5">
    <nav class="navbar navbar-light bg-light">
      <a href="/" class="navbar-brand">エラー</a>
    </nav>
  </header>
  <main>
    <div class="todo-container">

      <h1 class="h3 mb-4">システムエラーです。</h1>

            <div class="d-flex justify-content-between align-items-center">
              <a href="/list" class="btn btn-outline-primary">戻る</a>
             
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>