.todo-container {
  margin: 0 auto;
  max-width: 840px;
  padding: 0 2%;
}

.table th {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.paging {
 text-align: center;
 margin: 15px 0;
 font-size: 1rem;
 list-style-type: none;
}
.paging li{
 display: inline-block;
}
.paging .current,
.paging a{
 padding: 0 3px;
}
.paging a{
 display: block;
}

.errorMessage{
    color: #FF0000;
}
.fieldError{
    background-color: #FFCCFF;
}